html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
}
b, strong {
	font-weight: bold;
}
a {
	text-decoration: none;
	background-color: transparent;
}
*::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
li { 
	cursor: pointer;
}
.panel-body-main {
	transform: translate3d(0,0,0); 
}	
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
p {
	margin: 0 0 11px;
}
.clearfix::before, .clearfix::after {
	content: " ";
	display: table;
}
.clearfix::after {
	clear: both;
}
.panel {
	margin-bottom: 22px;
	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 0;
}
.panel-default {
	border-color: #cccccc;
}
.panel-heading {
	padding: 0.5em 1em;
	border-bottom: 1px solid transparent;
	border-top-right-radius: -1;
	border-top-left-radius: -1;
}
.panel-body {
	padding: 15px;
}
.panel-title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	color: inherit;
}

dt, dd {
	line-height: 1.6;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0px;
}
dt, dd {
	line-height: 1.6;
}
dd {
	margin-left: 0px;
}